* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

form {
    background-color: white;
    padding: 40px;  /* Tăng padding để hộp lớn hơn */
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 400px;   /* Tăng chiều rộng */
}
.error-message {
    color: red; /* Màu đỏ cho thông báo lỗi */
    margin-top: 10px; /* Khoảng cách trên thông báo */
    text-align: center;

}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
p {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 12px;  /* Tăng padding cho input */
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px;  /* Tăng padding cho nút gửi */
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}